.sign-in-container {
  background-color: #f1f7ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-inform-container {
  background-color: #1d1d1f;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
input {
  color: #ffffff;
}
.success-signin {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: green;
  line-height: 0;
}
.sign-in-btn {
  border: none;
  background-color: #326bfc;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  margin-top: 10px;
}
.errorMsg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: red;
}
.login {
  color: rgb(67, 184, 252);
  border: none;
  background-color: transparent;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
